:root {
  --color-neutral-default: #ffffff;
  --color-neutral-gray-50: #f5f5f5;
  --color-neutral-gray-100: #ebebeb;
  --color-neutral-gray-200: #e0e0e0;
  --color-neutral-gray-300: #d6d6d6;
  --color-neutral-gray-400: #cccccc;
  --color-neutral-gray-500: #c2c2c2;
  --color-neutral-gray-600: #b8b8b8;
  --color-neutral-gray-700: #ababab;
  --color-neutral-gray-800: #6a6b6d;
  --color-neutral-gray-900: #1b1f22;
  --color-neutral-inversed: #0e0f10;
  --color-brand-blue-50: #e5f2ff;
  --color-brand-blue-100: #b7dbff;
  --color-brand-blue-200: #8ac6ff;
  --color-brand-blue-300: #5cb0ff;
  --color-brand-blue-400: #2e9aff;
  --color-brand-blue-500: #0084ff;
  --color-brand-blue-600: #006fd7;
  --color-brand-blue-700: #005aad;
  --color-brand-blue-800: #004585;
  --color-brand-blue-900: #003060;
  --color-success-green-50: #d8ede5;
  --color-success-green-100: #b5dece;
  --color-success-green-200: #9bd7c1;
  --color-success-green-300: #63bfa0;
  --color-success-green-400: #3fb98d;
  --color-success-green-500: #00935c;
  --color-success-green-600: #007c4e;
  --color-success-green-700: #006640;
  --color-success-green-800: #004f32;
  --color-success-green-900: #003a24;
  --color-warning-orange-50: #fff3e5;
  --color-warning-orange-100: #ffe1bf;
  --color-warning-orange-200: #ffcb99;
  --color-warning-orange-300: #ffaf66;
  --color-warning-orange-400: #ffa73d;
  --color-warning-orange-500: #f58700;
  --color-warning-orange-600: #db7800;
  --color-warning-orange-700: #a85a00;
  --color-warning-orange-800: #6b3a00;
  --color-warning-orange-900: #381e00;
  --color-error-red-50: #fcedee;
  --color-error-red-100: #f9dbd9;
  --color-error-red-200: #f4b7b5;
  --color-error-red-300: #f09190;
  --color-error-red-400: #ed6560;
  --color-error-red-500: #da3e37;
  --color-error-red-600: #ae3029;
  --color-error-red-700: #85221e;
  --color-error-red-800: #5e1512;
  --color-error-red-900: #3a0a08;
  --spacing-0: 0px;
  --spacing-1: 1px;
  --spacing-2: 2px;
  --spacing-3: 3px;
  --spacing-4: 4px;
  --spacing-5: 5px;
  --spacing-6: 6px;
  --spacing-7: 7px;
  --spacing-8: 8px;
  --spacing-9: 9px;
  --spacing-10: 10px;
  --spacing-11: 11px;
  --spacing-12: 12px;
  --spacing-13: 13px;
  --spacing-14: 14px;
  --spacing-15: 15px;
  --spacing-16: 16px;
  --spacing-17: 17px;
  --spacing-18: 18px;
  --spacing-20: 20px;
  --spacing-24: 24px;
  --spacing-26: 26px;
  --spacing-27: 27px;
  --spacing-28: 28px;
  --spacing-32: 32px;
  --spacing-36: 36px;
  --spacing-40: 40px;
  --spacing-48: 48px;
  --spacing-64: 64px;
  --spacing-70: 70px;
  --spacing-80: 80px;
  --spacing-88: 88px;
  --spacing-96: 96px;
  --spacing-110: 110px;
  --spacing-160: 160px;
  --radius-0: 0px;
  --radius-1: 1px;
  --radius-2: 2px;
  --radius-4: 4px;
  --radius-5: 5px;
  --radius-6: 6px;
  --radius-7: 7px;
  --radius-8: 8px;
  --radius-10: 10px;
  --radius-12: 12px;
  --radius-16: 16px;
  --radius-20: 20px;
  --radius-24: 24px;
  --radius-28: 28px;
  --radius-32: 32px;
  --radius-40: 40px;
  --radius-48: 48px;
  --radius-64: 64px;
  --radius-full: 9999px;
  --font-sans: Inter, sans-serif;
  --font-mono: 'Roboto Mono', monospace;
}

[data-theme="dark"] {
  --color-neutral-default: #0e0f10;
  --color-neutral-gray-50: #141719;
  --color-neutral-gray-100: #1b1f22;
  --color-neutral-gray-200: #212629;
  --color-neutral-gray-300: #282d33;
  --color-neutral-gray-400: #2f353c;
  --color-neutral-gray-500: #363d44;
  --color-neutral-gray-600: #3d444d;
  --color-neutral-gray-700: #434c56;
  --color-neutral-gray-800: #687583;
  --color-neutral-gray-900: #ffffff;
  --color-neutral-inversed: #ffffff;
  --color-brand-blue-50: #01203c;
  --color-brand-blue-100: #023564;
  --color-brand-blue-200: #034a8c;
  --color-brand-blue-300: #045fb4;
  --color-brand-blue-400: #0575dc;
  --color-brand-blue-500: #148bfb;
  --color-brand-blue-600: #41a1fb;
  --color-brand-blue-700: #73b9fc;
  --color-brand-blue-800: #9bcefd;
  --color-brand-blue-900: #c8e4fe;
  --color-success-green-50: #011910;
  --color-success-green-100: #022d1d;
  --color-success-green-200: #005c38;
  --color-success-green-300: #015a39;
  --color-success-green-400: #027348;
  --color-success-green-500: #3c9f7c;
  --color-success-green-600: #55ba95;
  --color-success-green-700: #6dc5a5;
  --color-success-green-800: #aedaca;
  --color-success-green-900: #d1ebe1;
  --color-warning-orange-50: #1e1000;
  --color-warning-orange-100: #502c01;
  --color-warning-orange-200: #872502;
  --color-warning-orange-300: #b96803;
  --color-warning-orange-400: #d27604;
  --color-warning-orange-500: #f08603;
  --color-warning-orange-600: #fb9a41;
  --color-warning-orange-700: #fcaa5a;
  --color-warning-orange-800: #fdd1a0;
  --color-warning-orange-900: #ffe5c7;
  --color-error-red-50: #1e0604;
  --color-error-red-100: #431010;
  --color-error-red-200: #6a1e1b;
  --color-error-red-300: #902c27;
  --color-error-red-400: #ca3229;
  --color-error-red-500: #e64d47;
  --color-error-red-600: #e87170;
  --color-error-red-700: #eb8f8e;
  --color-error-red-800: #f3c5c4;
  --color-error-red-900: #f7d5d5;
}
